// VARIABLES FUENTE
// TAMAÑOS POR SECCION
$fontsize-slider-title:         40px;
$fontsize-slider-links:         18px;
$fontsize-slider-carrusel:      12px;
$fontsize-cintillo-detalle:     16px;
$fontsize-cintillo-link:        18px;
$fontsize-destacados-title:     32px;
$fontsize-destacados-detalle:   24px;
$fontsize-sticky-title:         34px;
$fontsize-sticky-sub:           18px;
$fontsize-sticky-detalle:       15px;
$fontsize-sticky-link:          84px;
$fontsize-footer-tlf:           18px;
$fontsize-footer-detalle:       14px;
