// CARGA DE VARIABLES
// VARIABLES RESPONSIVE
$break-mb: 480px;
$break-mb2: 481px;
$break-dt: 1920px;

// VARIABLES FUENTES
@import "tamaniofuentes";

#destacados-desktop,#destacados-mobile{

  margin:auto;
  padding: 2em 1em;

    .destacado{
        margin:auto;
        float:left;
          img{
            width: 100%;
          }
      }
  }

@media screen and (min-width: $break-mb2) and (max-width: $break-dt){

  #destacados-desktop {
    visibility: visible;
    display: block;
  }

  #destacados-mobile {
    visibility: hidden;
    display: none;
}

.destacado {
  padding: 1em;
}

}

@media screen and (max-width: $break-mb){

  #destacados-desktop {
    visibility: hidden;
    display: none;
  }

  #destacados-mobile {
    visibility: visible;
    display: block;
  }

  #destacado1 {


  }

  #destacado2 {

  }

  .contenedor {
    position:relative;
  }

  .text-over {
    margin:auto;
    position: absolute;
    left:-5px;
    bottom: 5px;
    padding: 10% 0;
    background: rgba(70,200,70,0.6);
    color:#f2f2f2;
    font-size: $fontsize-destacados-detalle;
    text-align: center;
  }


}
