// CARGA DE VARIABLES
// VARIABLES RESPONSIVE
$break-mb: 480px;
$break-mb2: 481px;
$break-dt: 1920px;

// VARIABLES FUENTES
@import "tamaniofuentes";


@media screen and (min-width: $break-mb2) and (max-width: $break-dt){

}
@media screen and (max-width: $break-mb){


  #destacado1 {


  }

  #destacado2 {

  }

  .contenedor {
    position:relative;
  }


  .text-over {
    margin:auto;
    position: absolute;
    bottom: 1.60em;
    padding: 10% 0;
    background: rgba(70,200,70,0.6);
    color:#f2f2f2;
    font-size: $fontsize-destacados-detalle;
    text-align: center;

    div {

      top: 40%;
    }
  }


}
