// CARGA DE VARIABLES
// VARIABLES RESPONSIVE
$break-mb: 480px;
$break-mb2: 481px;
$break-dt: 1920px;

// VARIABLES FUENTES
@import "tamaniofuentes";

// CARGA DE TIPOGRAFÍAS
// MIXINS
@mixin tipografia($nombretipo,$file,$peso) {

  @font-face {
    font-family: #{$nombretipo};
    src: url("../font/"+$file) format("opentype");
    font-weight: #{$peso};
  }
}

@include tipografia('AvantGardeStd','ITCAvantGardeStd-Bk.otf','100');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Md.otf','200');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Demi.otf','300');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Bold.otf','400');

// Reglas CSS

* {
  box-sizing: border-box;
}

// APLICAR FLEX A LOS DIVS CORRESPONDIENTES
//
.destacados-flex {
  display:flex;
}

body {
  margin:auto;
  font-family: AvantGardeStd;
  max-width: 1280px;

h1 {
  display:none;
  visibility: hidden;
}

h2 {
  text-align: center;
  font-size: $fontsize-destacados-title;
  font-weight: 400;
}



.logo-desktop {
  margin: 2em 0 0.5em 4em;
}

.logo-mobile  {
  text-align: center;
  margin: 1em 2em 1em 0;
}

.contenedor {
  overflow:hidden;
  position: relative;
}

header {

  padding: 0;

  #navegacion-desktop,#navegacion-mobile {
    text-align: center;
    border-top: 1px solid black;
    }


  }

  #cintillo-desktop,#cintillo-mobile {
    background: #fec701;

    #cintillo-left {
      .cintillo-descuento {
        float:right;
        display:inline-block;
        font-weight:100;
        text-align:left;
        font-size: $fontsize-cintillo-detalle;
      }
      .cintillo-img {
        display:inline-block;
      }
    }

    #cintillo-right {
      text-align:left;
      font-weight: 300;
      font-size: $fontsize-cintillo-link;
      .cintillo-link {
        float:left;
        height:inherit;
        width:inherit;
        display: block;

      }
    }
  }

// GENERICO main


footer {
  clear:both;
  margin:auto;
}

// RESPONSIVE DESKTOP
@media screen and (min-width: $break-mb2) and(max-width: $break-dt){

  body {
    max-width: 1280px;
  }

  // VISIBILIDAD DE LOGOS
  #logo-desktop{
    display:block;
    visibility: visible;
  }

  #logo-mobile {
    display:none;
    visibility: hidden;
  }

  // VISIBILIDAD DE NAVEGACION
  #navegacion-desktop {
    display:block;
    visibility: visible;
  }

  #navegacion-mobile {
    display:none;
    visibility: hidden;
  }

  // VISIBILIDAD DE CINTILLO
  #cintillo-desktop {
    display:table;
    visibility: visible;
  }

  #cintillo-mobile {
    display:none;
    visibility: hidden;
  }

  // HEADER DESKTOP
  header {
    #navegacion-desktop,#navegacion-mobile {
      float:left;
      clear:both;
      padding:1em 0 1em;

      .titulo-nav {
        padding: 1em 0 1em 1.3em;
        }
    }

   #cintillo-left{

     .cintillo-descuento{
       padding: 0.5em;
       width:30%;
     }
     .cintillo-img {
       padding: 0.5em;
       float:right;
     }
   }
   #cintillo-right {
     .cintillo-link {
       width:50%;
       padding: 1.4em 1em;
       background: url("./../img/desktop/cintillo/cuadrados-amarillos-deco.png") no-repeat;
       background-size: cover;
     }
   }
     [class*="col-"] { // Configuración horizontal del menú COMPRA ONLINE (customización del grid)
       float:left;
       vertical-align: middle;
       display: inline-block;
     }
  }

  // MAIN DESKTOP
  main {
    #destacados-desktop{
      text-align: center;
    }

    .imghover {
      padding:0;
      margin:0;
      opacity:1;
      display:block;
      width:100%;
      height: auto;
      transition: opacity .5s ease;
      backface-visibility: hidden;
    }

    .leyenda {
      padding:0;
      margin:0;
      transition: opacity .5s ease;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      filter:blur(5px);
      transform: translate(-15px,-5px);
      -ms-transform: translate(-15px,-5px);
      img {
        height: 20em;
      }

  }

    .contenedor:hover .imghover {
      opacity: 0.8;
    }

    .contenedor:hover .leyenda {
      opacity: 1;
      filter:blur(0);
    }
  }
}
}

// MOBILE
@media screen and  (max-width: $break-mb){

  body {
      max-width: 480px;
  }

  // VISIBILIDAD DE LOGOS
  #logo-desktop{
    display:none;
    visibility: hidden;
  }

  #logo-mobile {
    display:block;
    visibility: visible;
  }

  // VISIBILIDAD DE NAVEGACION
  #navegacion-desktop {
    display: none;
    visibility: hidden;
  }
  #navegacion-mobile {
    display: block;
    visibility: visible;
  }

  // VISIBILIDAD DE CINTILLO
  #cintillo-desktop {
    display:none;
    visibility: hidden;
  }

  #cintillo-mobile {
    display:table;
    visibility: visible;
  }

  //HEADER MOBILE
   header {


     #cintillo-mobile {
       height:160px;
     }
     #cintillo-left{

      height:80px;
      width: 100%;
      margin:auto;
        .cintillo-descuento{
          padding:1em 1.5em;
          width:66%;
        }
        .cintillo-img {
          float:right;
          padding: 1em 0 0 1em;
          width:30%;
        }
      }

    #cintillo-right{
        height:80px;
        .cintillo-link {
          padding:1.7em 1em;  background: url("./../img/mobile/cintillo/cuadrados-amarillos-deco-mobile.png") no-repeat;
            background-size: cover;
        }
      }

      .scroll {
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }

        #navegacion-desktop,#navegacion-mobile {
          height:80px;
          padding:0.8em 0em 0;
          margin:0;

              // Configuración horizontal del grid para el menú de compra online para evitar que se amontonen y el overflow sea efectivo
          [class*="col-"] {
            text-align: center;
            float:none;
            width:5em;
            vertical-align: middle;
            display: inline-block;
          }

          .titulo-nav {
            display: none;  // OCULTAMOS el titulo "compra online"
            }

          .flecha{
            background: rgba(200,200,200,0.5);
            display:inline-block;
            padding:2em 1em;
            position:fixed;
            right:0px;
            top:65px;
            margin:auto;

          }
        }
      }


}

footer {
  width:inherit;
  text-align: center;
  color: #ffffff;
  background: #d50011;
  padding: 1em 0 2em 0;

    .footer-telefono {
      display:block;
      padding: 0.5em;
      font-weight: 400;
      font-size: $fontsize-footer-tlf;
    }
    .footer-horario {
      display:block;
      padding: 0.2em;
      font-weight: 300;
      font-size: $fontsize-footer-detalle;
    }
}

.container {
  width:100%;
}
