// CARGA DE VARIABLES
// VARIABLES RESPONSIVE
$break-mb: 480px;
$break-dt: 1920px;

// VARIABLES FUENTES
@import "tamaniofuentes";

// CARGA DE TIPOGRAFÍAS
// MIXINS
@mixin tipografia($nombretipo,$file,$peso) {

  @font-face {
    font-family: #{$nombretipo};
    src: url("../font/"+$file) format("opentype");
    font-weight: #{$peso};
  }
}

@include tipografia('AvantGardeStd','ITCAvantGardeStd-Bk.otf','100');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Md.otf','200');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Demi.otf','300');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Bold.otf','400');

// Reglas CSS

* {
  box-sizing: border-box;
}

// DISEÑO DEL GRID DE 12 COLUMNAS

.row {
  width:100%;
  content:"";
  clear:both;
  display:table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float:left;
}

// APLICAR FLEX A LOS DIVS CORRESPONDIENTES
//
.destacados-flex {
  display:flex;
}

body {
  margin:auto;
  font-family: AvantGardeStd;

h1 {

}

h2 {
  text-align: center;
  font-size: $fontsize-destacados-title;
  font-weight: 400;
}


#logo {

}

.logo-desktop {
  margin: 2em 0 0.5em 4em;
}

.logo-mobile  {
  text-align: center;
  margin: 1em 2em 1em 0;
}

header {

  padding: 0;

  #navegacion {
    border-top: 1px solid black;
    }

    #slider {
      clear:both;
      float:left;
      position:relative;
    }

    #menu-slider-indice {
      position:absolute;
      width: 100%;
      height:80px;
      bottom:0;
      text-align: center;
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */

    }

  }

  #cintillo {
    background: #fec701;

    #cintillo-left {
      .cintillo-descuento {
        float:right;
        display:inline-block;
        font-weight:100;
        text-align:left;
        font-size: $fontsize-cintillo-detalle;
      }
      .cintillo-img {
        display:inline-block;
      }
    }

    #cintillo-right {
      text-align:left;
      font-weight: 300;
      font-size: $fontsize-cintillo-link;
      .cintillo-link {
        float:left;
        height:inherit;
        width:inherit;
        display: block;

      }
    }
  }

// GENERICO main
main {

#destacados{

  margin:auto;
  padding: 2em 2em;
  width:100%;

    .destacado{
        margin:auto;
        float:left;
        padding:1em;
          img{
            width: 100%;
          }
      }
  }



}

footer {
  clear:both;
}

// CSS PARA EL slideshow

  /* Contenedor slideshow */
  .slideshow-contenedor {
    width:100%;
    position: relative;
    margin: 0 auto;

    .slideshow-contenido{
      position: absolute; /* Position the background text */
      width:100%;

      bottom: 0; /* At the bottom. Use top:0 to append it to the top */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1; /* Grey text */
      width: 100%; /* Full width */
      //padding: 2em; /* Some padding */

      h2 {
        margin: 0;
        padding: 0;


      }
    }

  }

  .titular {
          display: none;

  }

  /* Botones anterior y siguiente */
  .anterior, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .siguiente {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  // On hover, add a black background color with a little bit see-through
  .anterior:hover, .siguiente:hover {
    background-color: rgba(0,0,0,0.8);
  }

  // CADA UNO DE LOS ELEMENTOS DEL MENU
  .menu-slide {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .menu-elemento {
    font-size: $fontsize-slider-carrusel;
    font-weight: 400;
    color: #ffffff;
    margin:0.7em 0;
    padding:1.2em;
    display:inline-block;
    height: 60px;
    width: 170px;
    vertical-align: middle;
    border: 2px solid #ffffff;
    transition: background-color 0.6s ease;
  }

  .active, .menu-elemento:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }





// RESPONSIVE DESKTOP
@media screen and (max-device-width: $break-dt){

  body {
    max-width: 1280px;
  }

  // HEADER DESKTOP
  header {
    #navegacion {
      padding:1em 0 1em;

      .titulo-nav {
        padding: 1em 0 1em 1.3em;
        }
    }

   #cintillo-left{

     .cintillo-descuento{
       padding: 0.5em;
       width:30%;
     }
     .cintillo-img {
       padding: 0.5em;
       float:right;
     }
   }
   #cintillo-right {
     .cintillo-link {
       width:50%;
       padding: 1.4em 1em;
       background: url("./../img/desktop/cintillo/cuadrados-amarillos-deco.png") no-repeat;
       background-size: cover;
     }
   }
     [class*="col-"] { // Configuración horizontal del menú COMPRA ONLINE (customización del grid)
       float:left;
       vertical-align: middle;
       display: inline-block;
     }
  }

  // MAIN DESKTOP
  main {
    #destacados{
      text-align: center;



    }

    // CSS HOVER EXTRAIDO DE PROYECTO DE EJEMPLO DE W3SCHOOLS, EDITADO para
    // EL PROYECTO ACTUAL
    // URL: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity
    .destacado {
      width: 100%;
      height: 100%;
    }

    .contenedor {
      position: relative;
      width:100%;

    }

    .imghover {
      padding:0;
      margin:0;
      opacity:1;
      display:block;
      width:100%;
      height: auto;
      transition: opacity .5s ease;
      backface-visibility: hidden;
    }

    .leyenda {
      padding:0;
      margin:0;
      transition: opacity .5s ease;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      filter:blur(5px);
      transform: translate(-15px,-5px);
      -ms-transform: translate(-15px,-5px);
      img {
        height: 20em;
      }
  }

    .contenedor:hover .imghover {
      opacity: 0.8;
    }

    .contenedor:hover .leyenda {
      opacity: 1;
      filter:blur(0);
    }

  }


}
}

// MOBILE
@media screen and  (max-device-width: $break-mb){

  body {
      max-width: 480px;
  }

  //HEADER MOBILE
   header {


     #cintillo {
       height:160px;
     }
     #cintillo-left{

      height:80px;
      width: 100%;
      margin:auto;
        .cintillo-descuento{
          padding:1em 1.5em;
          width:66%;
        }
        .cintillo-img {
          float:right;
          padding: 1em 0 0 1em;
          width:30%;
        }
      }

    #cintillo-right{
        height:80px;
        .cintillo-link {
          padding:1.7em 1em;  background: url("./../img/mobile/cintillo/cuadrados-amarillos-deco-mobile.png") no-repeat;
            background-size: cover;
        }
      }

      .scroll {
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }

        #navegacion {
          height:80px;
          padding:0.8em 0em 0;
          margin:0;
          display:block;

              // Configuración horizontal del grid para el menú de compra online para evitar que se amontonen y el overflow sea efectivo
          [class*="col-"] {
            text-align: center;
            float:none;
            width:5em;
            vertical-align: middle;
            display: inline-block;
          }

          .titulo-nav {
            display: none;  // OCULTAMOS el titulo "compra online"
            }

        }
      }
      // MAIN MOBILE
      main {
        #destacados {
          display: inherit;
            }
      }
}

footer {
  width:inherit;
  text-align: center;
  color: #ffffff;
  background: #d50011;
  padding: 1em 0 2em 0;

    .footer-telefono {
      display:block;
      padding: 0.5em;
      font-weight: 400;
      font-size: $fontsize-footer-tlf;
    }
    .footer-horario {
      display:block;
      padding: 0.2em;
      font-weight: 300;
      font-size: $fontsize-footer-detalle;
    }
}

.container {
  width:100%;
}



// PRUEBAS
// h1 {
//   color: #aaffee;
//   @media screen and (max-width: $break-lg)
//   {
//     background: #ffff23;
//   }
//   @media screen and (max-width: $break-md)
//   {
//     background: #ffaa00;
//   }
//   @media screen and (max-width: $break-sm)
//   {
//     background: #ff3aFF;
//   }
//}
