// CARGA DE VARIABLES
// VARIABLES RESPONSIVE
$break-mb: 480px;
$break-dt: 1920px;

// VARIABLES FUENTES
@import "tamaniofuentes";


// CARGA DE TIPOGRAFÍAS
// MIXINS
@mixin tipografia($nombretipo,$file,$peso) {

  @font-face {
    font-family: #{$nombretipo};
    src: url("../font/"+$file) format("opentype");
    font-weight: #{$peso};
  }
}

@include tipografia('AvantGardeStd','ITCAvantGardeStd-Bk.otf','100');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Md.otf','200');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Demi.otf','300');
@include tipografia('AvantGardeStd','ITCAvantGardeStd-Bold.otf','400');


// Reglas CSS
body {

  @media screen and (max-width: $break-mb)
  {
    width:100%;
    background: #000000;
    max-width: 480px;
  }
  @media screen and (max-width: $break-dt)
  {
    width:100%;
    background: #FFFFFF;
    max-width: 1280px;
  }

  margin:auto;
  font-family: AvantGardeStd;

}

#logo {

}

.logo-desktop {
  margin: 2em 0 0.5em 4em;
}

.logo-mobile  {
  text-align: center;
  margin: 1em 2em 1em 0;
}

header {

  padding: 1em 0;

  nav {
    border-top: 1px solid black;
  }
  
  img {
    max-width: 100%
    max-height:100%;
  }


}

footer {

  text-align: center;
  color: #ffffff;
  background: #d50011;
  padding: 1em 0 2em 0;

    .footer-telefono {
      display:block;
      padding: 0.5em;
      font-weight: 400;
      font-size: $fontsize-footer-tlf;
    }
    .footer-horario {
      display:block;
      padding: 0.2em;
      font-weight: 300;
      font-size: $fontsize-footer-detalle;
    }
}



// PRUEBAS
// h1 {
//   color: #aaffee;
//   @media screen and (max-width: $break-lg)
//   {
//     background: #ffff23;
//   }
//   @media screen and (max-width: $break-md)
//   {
//     background: #ffaa00;
//   }
//   @media screen and (max-width: $break-sm)
//   {
//     background: #ff3aFF;
//   }
//}
