// CARGA DE VARIABLES
// VARIABLES RESPONSIVE
$break-mb: 480px;
$break-mb2: 481px;
$break-dt: 1920px;

// VARIABLES FUENTES
@import "tamaniofuentes";

#flotante {
  position:absolute;
  left:100px;
  width:8em;
  height:4em;
  img {
    width:100%;
  }
  clear:both;
  float:left;
}

.separador {
  padding: 2em 0;
}

@media screen and (min-width: $break-mb2) and (max-width: $break-dt)
{



  #ventajas01{
      top:100px;
  }

  h2{
    margin:0;
  }

  #ventajas-desktop,#ventajas-flotante {
    padding: 1em 0 1em;
    margin:auto;

    #ventajas01,#ventajas02 {
      text-align: center;
      height:17em;

      h2 {
        text-align: left;
        font-size: $fontsize-sticky-sub;
        color: #f2f2f2;
        padding:0 0 0 0.7em;
      }
      span {
        display:block;
        padding:1em 1em;
        margin:0;
        font-size: $fontsize-sticky-detalle;
        color: #f2f2f2;
      }
      img {
      }
      #ventajas-accion,#ventajas-accion-flotante {
        text-align:center;
        background: #ffffff;
        height:10%;
        width: 80%;
        font-size: $fontsize-sticky-detalle;
        font-weight: 200;
        margin:1em auto 0 auto;
      }
      #ventajas-accion::after,#ventajas-accion-flotante::after {
        margin:0 0 0 10px;
        color: #f2f2f2;
        content: url("./../img/desktop/cintillo/flecha.png");
        position:absolute;
        border-bottom: 0;
      }
      #ventajas-registro,#ventajas-registro-flotante {
        display: inline-block;
        vertical-align: middle;
        background: #393D49;

        .tarjeta-registro {
          position:fixed;
          top:0;
          left:0;
        }

      }

      #ventajas-promociones,#ventajas-promociones-flotante {
        display: inline-block;
        vertical-align: middle;
        background: #DB1720;
      }

      #ventajas-vales,#ventajas-vales-flotante {
        display: inline-block;
        vertical-align: middle;
        background: #C80C22;
      }

      #ventajas-bolsillo,#ventajas-bolsillo-flotante {
        display: inline-block;
        vertical-align: middle;
        background: #D82322;
      }

      #ventajas-escuchamos,#ventajas-escuchamos-flotante {
        display: inline-block;
        vertical-align: middle;
        background: #E43227;
      }

      #ventajas-regalos,#ventajas-regalos-flotante {
        display: inline-block;
        vertical-align: middle;
        background: #E02019;
      }
      [id*="ventajas-"] {
        padding:2em 0;
      }
    }

  }

  #ventajas-mobile {
    display:none;
    visibility: hidden;
  }


  #ventajas-desktop,#ventajas-mobile {

    opacity:0;
    position:relative;
    height:196px;
    width:100%;
    box-sizing: border-box;
    clear:both;
     [class*="col-"] {
       text-align: center;
     }
  }

  .ventajas {
    clear:both;
    float:left;
    margin: 0 auto 0 auto;
    padding:2em;
    bottom: 2em;
    top:1em;
    right:0;
    left:8.125%;
    width:100%;
    height:100%;
  }

  #ventajas-flotante{
    display:none;
    visibility: hidden;
    position:fixed;
    bottom:10em;
    margin:auto;
    width:1280px;
    .ventajas{
      padding:0;
      height:20em;

      #ventajas-cerrar{
        color:#f2f2f2;
        text-align: left;
        padding:0.4em;
      }

      #ventajas-registro-flotante{
        padding:0.4em;
      }

    }

  }

}

@media screen and (max-width: $break-mb)
{
  #ventakas-desktop {
    display:none;
    visibility: hidden;
  }

  #ventajas-mobile {
    display:block;
    visibility: visibiliy;
  }

  .ventajas {
    position: absolute;
    background: #FF0000;
  }

}
