@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Bk.otf") format("opentype");
  font-weight: 100; }
@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Md.otf") format("opentype");
  font-weight: 200; }
@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Demi.otf") format("opentype");
  font-weight: 300; }
@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Bold.otf") format("opentype");
  font-weight: 400; }
* {
  box-sizing: border-box; }

.destacados-flex {
  display: flex; }

body {
  margin: auto;
  font-family: AvantGardeStd;
  max-width: 1280px; }
  body h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 400; }
  body .logo-desktop {
    margin: 2em 0 0.5em 4em; }
  body .logo-mobile {
    text-align: center;
    margin: 1em 2em 1em 0; }
  body .contenedor {
    overflow: hidden;
    position: relative; }
  body header {
    padding: 0; }
    body header #navegacion-desktop, body header #navegacion-mobile {
      text-align: center;
      border-top: 1px solid black; }
  body #cintillo-desktop, body #cintillo-mobile {
    background: #fec701; }
    body #cintillo-desktop #cintillo-left .cintillo-descuento, body #cintillo-mobile #cintillo-left .cintillo-descuento {
      float: right;
      display: inline-block;
      font-weight: 100;
      text-align: left;
      font-size: 16px; }
    body #cintillo-desktop #cintillo-left .cintillo-img, body #cintillo-mobile #cintillo-left .cintillo-img {
      display: inline-block; }
    body #cintillo-desktop #cintillo-right, body #cintillo-mobile #cintillo-right {
      text-align: left;
      font-weight: 300;
      font-size: 18px; }
      body #cintillo-desktop #cintillo-right .cintillo-link, body #cintillo-mobile #cintillo-right .cintillo-link {
        float: left;
        height: inherit;
        width: inherit;
        display: block; }
  body footer {
    clear: both;
    margin: auto; }
  @media screen and (min-width: 481px) and (max-width: 1920px) {
    body body {
      max-width: 1280px; }
    body #logo-desktop {
      display: block;
      visibility: visible; }
    body #logo-mobile {
      display: none;
      visibility: hidden; }
    body #navegacion-desktop {
      display: block;
      visibility: visible; }
    body #navegacion-mobile {
      display: none;
      visibility: hidden; }
    body #cintillo-desktop {
      display: table;
      visibility: visible; }
    body #cintillo-mobile {
      display: none;
      visibility: hidden; }
    body header #navegacion-desktop, body header #navegacion-mobile {
      float: left;
      clear: both;
      padding: 1em 0 1em; }
      body header #navegacion-desktop .titulo-nav, body header #navegacion-mobile .titulo-nav {
        padding: 1em 0 1em 1.3em; }
    body header #cintillo-left .cintillo-descuento {
      padding: 0.5em;
      width: 30%; }
    body header #cintillo-left .cintillo-img {
      padding: 0.5em;
      float: right; }
    body header #cintillo-right .cintillo-link {
      width: 50%;
      padding: 1.4em 1em;
      background: url("./../img/desktop/cintillo/cuadrados-amarillos-deco.png") no-repeat;
      background-size: cover; }
    body header [class*="col-"] {
      float: left;
      vertical-align: middle;
      display: inline-block; }
    body main #destacados-desktop {
      text-align: center; }
    body main .imghover {
      padding: 0;
      margin: 0;
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: opacity .5s ease;
      backface-visibility: hidden; }
    body main .leyenda {
      padding: 0;
      margin: 0;
      transition: opacity .5s ease;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(5px);
      transform: translate(-15px, -5px);
      -ms-transform: translate(-15px, -5px); }
      body main .leyenda img {
        height: 20em; }
    body main .contenedor:hover .imghover {
      opacity: 0.8; }
    body main .contenedor:hover .leyenda {
      opacity: 1;
      filter: blur(0); } }

@media screen and (max-width: 480px) {
  body {
    max-width: 480px; }

  #logo-desktop {
    display: none;
    visibility: hidden; }

  #logo-mobile {
    display: block;
    visibility: visible; }

  #navegacion-desktop {
    display: none;
    visibility: hidden; }

  #navegacion-mobile {
    display: block;
    visibility: visible; }

  #cintillo-desktop {
    display: none;
    visibility: hidden; }

  #cintillo-mobile {
    display: table;
    visibility: visible; }

  header #cintillo-mobile {
    height: 160px; }
  header #cintillo-left {
    height: 80px;
    width: 100%;
    margin: auto; }
    header #cintillo-left .cintillo-descuento {
      padding: 1em 1.5em;
      width: 66%; }
    header #cintillo-left .cintillo-img {
      float: right;
      padding: 1em 0 0 1em;
      width: 30%; }
  header #cintillo-right {
    height: 80px; }
    header #cintillo-right .cintillo-link {
      padding: 1.7em 1em;
      background: url("./../img/mobile/cintillo/cuadrados-amarillos-deco-mobile.png") no-repeat;
      background-size: cover; }
  header .scroll {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  header #navegacion-desktop, header #navegacion-mobile {
    height: 80px;
    padding: 0.8em 0em 0;
    margin: 0; }
    header #navegacion-desktop [class*="col-"], header #navegacion-mobile [class*="col-"] {
      text-align: center;
      float: none;
      width: 5em;
      vertical-align: middle;
      display: inline-block; }
    header #navegacion-desktop .titulo-nav, header #navegacion-mobile .titulo-nav {
      display: none; } }
footer {
  width: inherit;
  text-align: center;
  color: #ffffff;
  background: #d50011;
  padding: 1em 0 2em 0; }
  footer .footer-telefono {
    display: block;
    padding: 0.5em;
    font-weight: 400;
    font-size: 18px; }
  footer .footer-horario {
    display: block;
    padding: 0.2em;
    font-weight: 300;
    font-size: 14px; }

.container {
  width: 100%; }

/*# sourceMappingURL=estilo.css.map */
