@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Bk.otf") format("opentype");
  font-weight: 100; }
@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Md.otf") format("opentype");
  font-weight: 200; }
@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Demi.otf") format("opentype");
  font-weight: 300; }
@font-face {
  font-family: AvantGardeStd;
  src: url("../font/ITCAvantGardeStd-Bold.otf") format("opentype");
  font-weight: 400; }
* {
  box-sizing: border-box; }

.row {
  width: 100%;
  content: "";
  clear: both;
  display: table; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left; }

body {
  margin: auto;
  font-family: AvantGardeStd; }

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 400; }

.logo-desktop {
  margin: 2em 0 0.5em 4em; }

.logo-mobile {
  text-align: center;
  margin: 1em 2em 1em 0; }

header {
  padding: 0; }
  header #navegacion {
    border-top: 1px solid black;
    display: block; }

#cintillo {
  background: #fec701; }
  #cintillo #cintillo-left .cintillo-descuento {
    float: right;
    display: inline-block;
    font-weight: 100;
    text-align: left;
    font-size: 16px; }
  #cintillo #cintillo-left .cintillo-img {
    display: inline-block; }
  #cintillo #cintillo-right {
    text-align: left;
    font-weight: 300;
    font-size: 18px; }
    #cintillo #cintillo-right .cintillo-link {
      float: left;
      height: inherit;
      width: inherit;
      display: block; }

main #destacados {
  margin: auto;
  padding: 2em 0;
  width: 90%; }
  main #destacados .destacado {
    margin: auto;
    float: left; }
    main #destacados .destacado img {
      width: 95%; }

footer {
  clear: both; }

@media screen and (max-device-width: 1920px) {
  body {
    max-width: 1280px; }

  header #navegacion {
    padding: 1em 0 1em; }
    header #navegacion .titulo-nav {
      padding: 1em 0 1em 1.3em; }
  header #cintillo-left .cintillo-descuento {
    padding: 0.5em;
    width: 30%; }
  header #cintillo-left .cintillo-img {
    padding: 0.5em;
    float: right; }
  header #cintillo-right .cintillo-link {
    width: 50%;
    padding: 1.4em 1em;
    background: url("./../img/desktop/cintillo/cuadrados-amarillos-deco.png") no-repeat;
    background-size: cover; }
  header [class*="col-"] {
    float: left;
    vertical-align: middle;
    display: inline-block; }

  main #destacados {
    text-align: center;
    display: flex; }
  main .destacado {
    width: 100%;
    height: 100%; }
  main .contenedor {
    position: relative; }
  main .imghover {
    padding: 0;
    margin: 0;
    opacity: 1;
    display: block;
    width: inherit;
    height: auto;
    transition: .5 ease;
    backface-visibility: hidden; }
  main .leyenda {
    padding: 0;
    margin: 0;
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15px, -5px);
    -ms-transform: translate(-15px, -5px); }
  main .contenedor:hover .imghover {
    opacity: 0.3; }
  main .contenedor:hover .leyenda {
    opacity: 1; } }
@media screen and (max-device-width: 480px) {
  body {
    max-width: 480px; }

  header #cintillo {
    height: 160px; }
  header #cintillo-left {
    height: 80px;
    width: 100%;
    margin: auto; }
    header #cintillo-left .cintillo-descuento {
      padding: 1em 1.5em;
      width: 66%; }
    header #cintillo-left .cintillo-img {
      float: right;
      padding: 1em 0 0 1em;
      width: 30%; }
  header #cintillo-right {
    height: 80px; }
    header #cintillo-right .cintillo-link {
      padding: 1.7em 1em;
      background: url("./../img/mobile/cintillo/cuadrados-amarillos-deco-mobile.png") no-repeat;
      background-size: cover; }
  header .scroll {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  header #navegacion {
    height: 80px;
    padding: 0.8em 0em 0;
    margin: 0; }
    header #navegacion [class*="col-"] {
      text-align: center;
      float: none;
      width: 5em;
      vertical-align: middle;
      display: inline-block; }
    header #navegacion .titulo-nav {
      display: none; }

  main #destacados {
    display: inherit; } }
footer {
  width: inherit;
  text-align: center;
  color: #ffffff;
  background: #d50011;
  padding: 1em 0 2em 0; }
  footer .footer-telefono {
    display: block;
    padding: 0.5em;
    font-weight: 400;
    font-size: 18px; }
  footer .footer-horario {
    display: block;
    padding: 0.2em;
    font-weight: 300;
    font-size: 14px; }

.container {
  width: 100%; }

/*# sourceMappingURL=estilo.css.map */
