#slider {
  clear: both;
  float: left;
  line-height: 1em; }

#slider-responsive {
  bottom: 0; }

@media screen and (min-width: 481px) and (max-width: 1920px) {
  #slider-responsive-mobile {
    visibility: hidden;
    display: none; }

  #slider-responsive-desktop {
    visibility: visible;
    display: block; }

  #menu-slider-indice {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); }

  .titulo-slider {
    position: absolute;
    margin: -1em 0;
    padding: 2em 0.8em 0 1.4em;
    width: 25%;
    height: 323px;
    background: rgba(200, 200, 200, 0.7); }

  .slideshow-contenedor {
    position: relative;
    width: 100%; }
    .slideshow-contenedor .slideshow-contenido {
      color: #f2f2f2;
      font-size: 15px;
      padding: 1em 12px 0 24%;
      position: absolute;
      width: 100%; }

  .anterior, .siguiente {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0;
    transition: 0.6s ease; }

  .siguiente {
    right: 0;
    border-radius: 3px 0 0 3px; }

  .anterior:hover, .siguiente:hover {
    background-color: rgba(255, 255, 255, 0.8); }

  .titular {
    margin: auto;
    display: none; }
    .titular .img-fondo-slide {
      display: block;
      margin: auto;
      width: 100%;
      opacity: 0.6; }
    .titular h2, .titular span {
      margin: 0;
      display: block;
      width: inherit;
      text-align: left; }
    .titular h2 {
      line-height: 90%;
      font-size: 40px; }
    .titular span {
      padding: 0.7em 0 0;
      font-size: 18px; }
    .titular .img-detalle {
      padding: 2em 0; }
    .titular a {
      color: #f2f2f2;
      text-decoration: none;
      border-bottom: 2px solid #f2f2f2; }
    .titular a::after {
      margin: 0 0 0 10px;
      color: #f2f2f2;
      content: url("./../img/desktop/cintillo/flecha.png");
      position: absolute;
      border-bottom: 0; }

  .menu-slide {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }

  .menu-elemento {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin: 0.7em 0;
    padding: 1em;
    display: inline-block;
    height: 60px;
    width: 170px;
    vertical-align: middle;
    border: 2px solid #ffffff;
    transition: background-color 0.6s ease; }

  .active, .menu-elemento:hover {
    background-color: #717171; }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

  @-webkit-keyframes fade {
    from {
      opacity: .4; }
    to {
      opacity: 1; } }
  @keyframes fade {
    from {
      opacity: .4; }
    to {
      opacity: 1; } }
  #slide02 #botellas, #slide02 #oferta {
    margin: -1em 0; }

  #slide03 h2, #slide03 span, #slide04 h2, #slide04 span {
    width: 100%;
    line-height: 100%; }
  #slide03 span, #slide04 span {
    margin: 10px; } }
@media screen and (max-width: 480px) {
  #slider {
    line-height: 2.6em; }

  #slider-responsive-mobile {
    visibility: visible;
    display: block; }

  #slider-responsive-desktop {
    visibility: hidden;
    display: none; }

  .contenedor-simple {
    overflow: hidden;
    position: relative;
    max-width: 480px;
    margin: auto; }
    .contenedor-simple img {
      display: block;
      width: 100%; }
    .contenedor-simple .contenido {
      margin: auto;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #f1f1f1;
      /* Grey text */
      width: 100%;
      /* Full width */
      padding: 20px;
      /* Some padding */ }
      .contenedor-simple .contenido a {
        color: #f2f2f2;
        text-decoration: none;
        border-bottom: 2px solid #f2f2f2; }
      .contenedor-simple .contenido a::after {
        margin: 0 0 0 10px;
        color: #f2f2f2;
        content: url("./../img/desktop/cintillo/flecha.png");
        position: absolute;
        border-bottom: 0; }
      .contenedor-simple .contenido span, .contenedor-simple .contenido img {
        display: block;
        max-width: 40%;
        text-align: left; }
      .contenedor-simple .contenido span {
        padding: 0 0 1em 0; }
      .contenedor-simple .contenido .titulo-mb h2 {
        font-size: 40px; }
      .contenedor-simple .contenido .titulo-mb span {
        font-size: 18px; }

  #slide01mob {
    position: relative;
    margin: 0 0 1em 0; }
    #slide01mob h2, #slide01mob span {
      text-align: left; }
    #slide01mob .contenido {
      margin: 0 0 0 0; }
    #slide01mob .titulo-mb h2 {
      padding: 1em 0 0 0;
      font-size: 40px; }
    #slide01mob .titulo-mb span {
      font-size: 18px; }

  #slide02mob {
    position: relative; }
    #slide02mob .contenido {
      margin: 1em 0 0 0; }
    #slide02mob .titulo-mb h2 {
      padding: 1.8em 0 0 0;
      font-size: 40px; }
    #slide02mob .titulo-mb span {
      font-size: 18px; }
    #slide02mob h2, #slide02mob span {
      text-align: left; }
    #slide02mob h2 {
      display: block;
      width: 50%; }
    #slide02mob span {
      max-width: 100%; } }

/*# sourceMappingURL=slider.css.map */
